@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#container{
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

.score{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}

.score span{
    color:#265db5;
}


.grid{
    width: 500px ;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: #231f20;
    border-radius: 4px;
    overflow: hidden;
}
.grid div{
    width: 25px;
    height: 25px;
}    
.snake{
    background-color: #c2c2c2;
    border-radius: 3px;
}
.apple{
    background-color: #e66916;
    border-radius: 50%;
}


.start{
    display: block;
    width: auto;
    outline: none;
    border: none;
    padding: 10px 20px;
    background-color: #265db5;
    color: #fff;
    border-radius: 4px;
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 0px 2px 6px 1px black;
    cursor: pointer;
}
.start:hover{
    background-color: #1b4ea0;
}

.handles{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding:0px 20px;
}
.handles .fa{
    display: inline-block;
    color: #231f20;
    font-size: 2rem;
    font-weight: bolder;
    padding: 5px 15px;
    background-color: #bccce6;
    border-radius: 10px;
    margin-right: 5px;
    box-shadow: 0px 0px 4px .5px rgba(0, 0, 0,.5);
    cursor: pointer;
    width: 50px;
    text-align: center;
}
.handles .fa:hover{
    background-color: #b5c5df;
}

#popmessage{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fcbc0d;
    padding: 10px 20px;
}
#popmessage p{
    color: #000;
}
#popmessage .fa-times{
    color: rgb(194, 42, 73);
    cursor: pointer;
    font-size: 1.5rem;
}
.booster{
    background-color: #f52318;
    box-shadow: 0px 0px 6px 1px #f52318;
    border-radius: 50%;
}




@media screen and (min-width: 600px) {
    .grid{
        width: 400px ;
        height: 400px;
    }
    .grid div{
        width: 20px;
        height: 20px;
    }
    .handles{
        justify-content: center;
    }
    .handles .fa{
        margin-right: 10px;
    }
}

@media screen and (max-device-width: 550px) { 
    .grid{
        width: 300px ;
        height: 300px;
    }
    .grid div{
        width: 15px;
        height: 15px;
    }
}


@media only screen and (max-device-width: 400px) {
    .grid{
        width: 200px ;
        height: 200px;
    }
    .grid div{
        width: 10px;
        height: 10px;
    }
}
